.scrolling-table {
    overflow-y: auto;
    height: 300px;
    width: 60%;
}

.scrolling-table thead th {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #303538;
}

#song-table {
    border-collapse: collapse;
    width: 100%;
    border-top: hidden;
    border-bottom: hidden;
}

.scrolling-table th, td {
    padding: 8px 16px;
}

.song-entry {
    background-color: #404548;
}

#player {
	text-align: center;
}

.hovered {
    background-color: #303030;
}

.playing {
    background-color: #343b3d;
}

button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.buttons {
    border: hidden;
    border-collapse: collapse;
}

#descriptions {
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
}