:root {
    --clr-neutral-000: #000000;
    --clr-neutral-200: #303138;
    --clr-neutral-300: #3d3f46;
    --clr-neutral-400: #4a4d55;
    --clr-neutral-500: #75767e;
    --clr-neutral-600: #9496a0;
    --clr-neutral-900: #eaedf8;

    --clr-accent-000: #100725;
    --clr-accent-100: #25144b;
    --clr-accent-200: #241d36;

    --ff-accent: 'Consolas', Consolas, monospace;
    --ff-primary: Arial, Helvetica, sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
p {
    margin: 0;
}

a.nounderline {
    text-decoration: none;
}

body {
    /* font-family: 'Courier New', Courier, monospace; */
    font-family: var(--ff-primary);
    /* background-color: var(--clr-accent-000); */
    color: var(--clr-neutral-900);
}
  
a {
    color: var(--clr-neutral-900);
}

#page-title {
    text-align: center;
    font-size: 70px;
    font-family: var(--ff-accent);
    font-weight: 900;
    padding-top: 200px;
}

.container {
    margin-inline: auto;
    width: min(85%, 1250px);
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.centered {
    text-align: center;
}

.background {
    margin: 0;
    padding: 0;
    top: 0;
    position: fixed;
    background: radial-gradient(circle, var(--clr-accent-100) 0%, var(--clr-accent-000) 100%);
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: -5;
}

.font-accent {
    font-family: var(--ff-accent);
}

/* ------------------------------ */

.content h1,
.content h2,
.content h3,
.content p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    line-height: 1.4em;
}

.content {
    padding-bottom: 2rem;
}

.delay-reveal {
    opacity: 0%;
    padding-top: 2rem;
    animation: 0.5s ease-out 1.5s 1 forwards reveal;
}

@keyframes reveal {
    0% { padding-top: 2rem; opacity: 0%; }
    100% { padding-top: 0rem; opacity: 100%; }
}

/* ------------------------------ */

.typed-container {
    margin: 0;
    padding: 0;
    font-family: var(--ff-accent);
    display: grid;
    place-items: center;
    width: fit-content;
    margin: auto;
}

.typed {
    margin: 0;
    padding: 0;
    font-size: min(7.5rem, calc(80vw / 3.33));
    box-sizing: content-box;
    overflow: hidden;
    white-space: nowrap;
    border-right: 0.5rem solid;
    width: 0;
    animation: typing 1.0s steps(6, end) forwards, blinking 1s 1.5s infinite;
    color: var(--clr-neutral-900);
}

@keyframes typing {
    from { width: 0% }
    to { width: 100% }
}

@keyframes blinking {
    0% {border-color: transparent}
    30% {border-color: transparent}
    50% {border-color: var(--clr-neutral-900)}
    80% {border-color: var(--clr-neutral-900)}
    100% {border-color: transparent}
}

/* ------------------------------ */

.header {
    padding-top: 15rem;
    padding-bottom: 5rem;
}

/* ------------------------------ */

.topnav {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 3rem;
}

.topnav a {
    color: var(--clr-neutral-900);
    font-family: var(--ff-accent);
    text-align: center;
    padding: 1rem 3rem;
    text-decoration: none;
    font-size: 2rem;
    transition: color 0.5s cubic-bezier(1, 0, 0, 1) 0s;
}

.topnav a:hover {
    color: var(--clr-neutral-500);
}

@media only screen and (max-width: 850px) {
    .topnav {
        flex-direction: column;
    }
}

.socials {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2rem 0.5rem;
}

.socials a {
    text-align: center;
    padding: 0.5rem;
    font-size: 3rem;
}

/* ------------------------------ */

.programming-entry {
    display: flex;
    align-items: center;
}

.programming-entry > * {
    padding: 3rem;
}

.flex-row-forwards {
    flex-direction: row;
}

.flex-row-reverse {
    flex-direction: row-reverse;
}

.programming-img > img {
    width: 23rem;
    border-radius: 5%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.programming-img > img:hover {
    transform: scale(1.1);
}

/* ----------------------- */

.scrolling-table {
    overflow-y: auto;
    height: 300px;
}

.scrolling-table thead th {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: var(--clr-accent-100);
}

.playing:not(.scrolling-table tr:hover) {
    background-color: var(--clr-accent-200);
}

.scrolling-table tr:not(.playing) {
    background-color: var(--clr-accent-000);
}

.scrolling-table tr:hover {
    background-color: var(--clr-accent-200);
}

#song-table {
    border-collapse: collapse;
    width: 100%;
    border-top: hidden;
    border-bottom: hidden;
}

.scrolling-table th, td {
    padding: 8px 16px;
}

#nowplaying {
    font-size: 30px;
}

#player {
	text-align: center;
}

#seek {
    width: 70%;
}

#volume {
    width: min(40%, 150px);
}

button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    height: max-content;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.buttons > * {
    flex-basis: 100%;
}

.song-navigation {
    text-align: center;
}

.vol-control {
    text-align: left;
}

@media only screen and (max-width: 1200px) {
    .buttons {
        flex-direction: column;
    }
    .vol-control {
        text-align: center;
    }
}

#descriptions {
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
}
