.start-day {
	background: url('/static/1f1t/images/background-day.png') no-repeat center center fixed;
}

.start-night {
	background: url('/static/1f1t/images/background-night.png') no-repeat center center fixed;
}

body {
	background-color: black;
	
	opacity: 1.0;
	
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	
	-webkit-transition: background 1.5s linear;
	-moz-transition: background 1.5s linear;
	-o-transition: background 1.5s linear;
	-ms-transition: background 1.5s linear;
	transition: background 1.5s linear;
}

.content {
	color: whitesmoke;
	font-family: Abel;
	text-align: center;
}

.centered {
	text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.big-divider {
	text-align: center;
	width: 50%;
}

.divider {
	text-align: center;
	width: 30%;
}

.main-icon-container {
	width: 100%;
	text-align: center;
}

.main-icon {
	float: center;
	text-align: center;
	width: 30%;
}

img.pixel-art {
	image-rendering: pixelated;
	image-rendering: -moz-crisp-edges;
	image-rendering: crisp-edges;
}

.info-text {
	font-size: 80px;
}

.info-box {
	font-size: 30px;
	text-align: center;
	margin: auto;
	width: 50%;
}

a {
	color: whitesmoke;
	text-decoration: underline;
}

a:hover {
	color: #d0d0d0;
}

a.no-underline {
	text-decoration: none;
}

a.no-underline:hover {
	text-decoration: none;
}

.generic-navbar {
    overflow: hidden;
    background: rgba(0, 0, 0, 0.2);
    width: 80%;
	color: whitesmoke;
	font-family: Abel;
}

.generic-navbar a {
	float: left;
    display: block;
    text-align: center;
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
    text-decoration: none;
}

#main-navbar {
    font-size: 30px;
}

.sticky {
    position: fixed;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
}

.sticky + .content {
    padding-top: 80px;
}

.navbar-logo {
    height: 45px;
}

.team-table {
    width: 70%;
    font-size: 30px;
}

th, td {
    padding: 5px;
    border-bottom: 1px solid #eeeeee;
}

td a {
	display: block;
}

tr.full-hover a {
	text-decoration: none;
}

tr.full-hover:hover a {
	color: #d0d0d0;
}

.data-table {
	width: 100%;
	font-size: 1rem;
}

.data-table td {
	width: 50%;
	text-align: right;
	padding-right: 1rem;
}

.data-table td + td {
	text-align: left;
	padding-left: 1rem;
}

.small-box {
	min-width: 18rem;
	width: 40%;
	max-width: 30rem;
}

.selection-table {
	width: 100%;
	table-layout: fixed;
}

.selection-table th, .selection-table td {
	border: none;
}