
{% extends "1f1t_base.html" %}

{% block content %}
    <h1 class="mt-5 centered info-text">Custom Features</h1>
    <p class="centered"><img src="{{ url_for('static', filename='1f1t/images/divider.png') }}" class="big-divider"></p>
    {% for category in features %}
    <h1 class="mt-5 centered" id="items" style="font-size: 50px;">{{ category.category }}</h1>
    <div class="info-box">
        <table class="selection-table">
            <tbody>
            {% for row in cols2rows(portion(category.entries, 3)) %}
                <tr>
                {% for feature in row %}
                    {% if feature %}
                    <td><a href='/1f1t/features/{{ urlify(feature.name) }}'>{{ feature.name }}</a></td>
                    {% else %}
                    <td></td>
                    {% endif %}
                {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% endfor %}
    <br><br><br>
{% endblock content %}