
{% extends "1f1t_base.html" %}

{% block content %}
    <h1 class="mt-5 centered info-text">{{ feature.name }}</h1>
    <p class="centered"><img src="{{ url_for('static', filename='1f1t/images/divider.png') }}" class="big-divider"></p>
    <p class="centered{{ ' pixel-art' if feature.pixelart else '' }}"><img src="{{ url_for('static', filename='1f1t/images/features/' + feature.image) }}" style="width: 15%;"></p>
    <div class="info-box small-box">
        <table class="data-table">
            <tbody>
                <tr>
                    <th colspan="2">Extra Data:</th>
                </tr>
                {% for d in feature.data %}
                <tr>
                    <td>{{ replace_links(d[0]) | safe }}</td>
                    <td>{{ replace_links(d[1]) | safe }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <br><br>
    {% for line in feature.description %}
    <div class="info-box" style="font-size: 1.5rem;">
        <p>{{ replace_links(line) | safe }}</p>
    </div>
    {% endfor %}
    <br><br><br>
{% endblock content %}