
{% extends "1f1t_base.html" %}

{% block content %}
    <h1 class="mt-5 centered info-text">Contributors</h1>
    <p class="centered"><img src="{{ url_for('static', filename='1f1t/images/divider.png') }}" class="big-divider"></p>
    <h1 class="mt-5 centered" id="owners" style="font-size: 50px;">Owners</h1>
    <div class="info-box">
        <p>1f1n1ty</p>
        <p>iUwU</p>
    </div>
    <p class="centered"><img src="{{ url_for('static', filename='1f1t/images/divider.png') }}" class="divider"></p>
    <h1 class="mt-5 centered" id="moderators" style="font-size: 50px;">Moderators</h1>
    <div class="info-box">
        <p>stardewy</p>
        <p>happ1e</p>
        <p>chunkiest_lad</p>
    </div>
    <p class="centered"><img src="{{ url_for('static', filename='1f1t/images/divider.png') }}" class="divider"></p>
    <h1 class="mt-5 centered" id="builders" style="font-size: 50px;">Builders</h1>
    <div class="info-box">
        <p>DigsCraft098</p>
        <p>ptako</p>
        <p>pizzaninjax</p>
        <p>Bicren</p>
        <p>Turkey</p>
    </div>
    <p class="centered"><img src="{{ url_for('static', filename='1f1t/images/divider.png') }}" class="divider"></p>
    <h1 class="mt-5 centered" id="developers" style="font-size: 50px;">Developers</h1>
    <div class="info-box">
        <p>EmuMan</p>
        <p>Alteredino</p>
    </div>
    <br><br><br>
{% endblock content %}