
{% extends "1f1t_base.html" %}

{% block content %}
    <h1 class="mt-5 centered info-text">Seasons</h1>
    <p class="centered"><img src="{{ url_for('static', filename='1f1t/images/divider.png') }}" class="big-divider"></p>
    <h1 class="mt-5 centered" id="description" style="font-size: 50px;">What are seasons?</h1>
    <div class="info-box">
        <p>The 1f1t server is split up into different seasons. These seasons usually occur when a major update to Minecraft happens, although this season will be a little different as we are greatly expanding operations.</p>
    </div>
    <p class="centered"><img src="{{ url_for('static', filename='1f1t/images/divider.png') }}" class="divider"></p>
    <h1 class="mt-5 centered" id="description" style="font-size: 50px;">When is the next season?</h1>
    <div class="info-box">
        <p>Since the next big Minecraft update has been split into two, we have made the decision to release the next season with 1.18, not 1.17. We will also be running the server on Paper to allow plugins, which means that might take a while to port all of the builds and plugins to the newer version. Essentially, we can't give you a date, but sometime after 1.18 releases.</p>
    </div>
    <br><br><br>
{% endblock content %}