
{% extends "1f1t_base.html" %}

{% block content %}
    <h1 class="mt-5 centered info-text">Custom Aspects</h1>
    <p class="centered"><img src="{{ url_for('static', filename='1f1t/images/divider.png') }}" class="big-divider"></p>
    <h1 class="mt-5 centered" id="iridium" style="font-size: 50px;">Iridium</h1>
    <div class="info-box">
        <p class="centered pixel-art"><img src="https://stardewvalleywiki.com/mediawiki/images/c/c4/Iridium_Bar.png" style="width: 15%;"></p>
        <p>Iridium is a rare metal that can be crafted into many different items. These items all have stats equivelant to netherite, with the exception that they are completely unbreakable.</p>
        <p>Iridium can only be obtained through <a href="#clint">Clint</a>.</p>
    </div>
    <p class="centered"><img src="{{ url_for('static', filename='1f1t/images/divider.png') }}" class="divider"></p>
    <h1 class="mt-5 centered" id="prismaticshards" style="font-size: 50px;">Prismatic Shards</h1>
    <div class="info-box">
        <p class="centered pixel-art"><img src="https://stardewvalleywiki.com/mediawiki/images/5/56/Prismatic_Shard.png" style="width: 15%;"></p>
        <p>Prismatic shards are crystals that are less versatile than iridium. To be honest I think they can be used in only like one trade or something right now. Will probably be updated.</p>
        <p>Prismatic shards can only be obtained through <a href="#clint">Clint</a>.</p>
    </div>
    <p class="centered"><img src="{{ url_for('static', filename='1f1t/images/divider.png') }}" class="divider"></p>
    <h1 class="mt-5 centered" id="clint" style="font-size: 50px;">Clint</h1>
    <div class="info-box">
        <p class="centered"><img src="{{ url_for('static', filename='1f1t/images/clint.png') }}" style="width: 50%;"></p>
        <p>Clint is an integral part of the server economy. After approaching him, full stacks of cobblestone can be gambled away, potentially giving you a number of prizes, including diamonds, emeralds, or even the rare materials listed above.</p>
        <p>Clint can be found in his stone hut to the left of the spawn building.</p>
    </div>
    <p class="centered"><img src="{{ url_for('static', filename='1f1t/images/divider.png') }}" class="divider"></p>
    <h1 class="mt-5 centered" style="font-size: 50px;">The Shop</h1>
    <div class="mb-5 info-box">
        <p class="centered"><img src="{{ url_for('static', filename='1f1t/images/the_shop.png') }}" style="width: 50%;"></p>
        <p>This is where you will purchase many of your items, including the spawn and respawn charms that will allow you to quickly travel to spawn and back. You can also buy special sets of armor that give unique perks, such as infinite Haste II or Night Vision.</p>
        <p>The shop can be accessed by entering the truck to the left of the spawn building.</p>
    </div>
    <p class="centered"><img src="{{ url_for('static', filename='1f1t/images/divider.png') }}" class="divider"></p>
    <h1 class="mt-5 centered" style="font-size: 50px;">Explosions</h1>
    <div class="mb-5 info-box">
        <p class="centered"><img src="https://static.wikia.nocookie.net/minecraft_gamepedia/images/a/a2/TNT_JE3_BE2.png" style="width: 20%;"></p>
        <p>On this server, explosions such as those from TNT and creepers do no damage to the surrounding blocks or entities. This means no griefing, random deaths, or random holes in the ground, but it also means no TNT-based resource farms.</p>
    </div>
    <br><br><br>
{% endblock content %}