
{% extends "1f1t_base.html" %}

{% block content %}
    <h1 class="mt-5 centered info-text">Teams</h1>
    <p class="centered"><img src="{{ url_for('static', filename='1f1t/images/divider.png') }}" class="big-divider"></p>
    <h1 class="mt-5 centered" id="description" style="font-size: 50px;">What are teams?</h1>
    <div class="info-box">
        <p>Teams are a great way for you to collaborate with like-minded people on building projects, resource gathering, and much more. Each team consists of several people, but it is up to you what you want to do with it.</p>
    </div>
    <p class="centered"><img src="{{ url_for('static', filename='1f1t/images/divider.png') }}" class="divider"></p>
    <h1 class="mt-5 centered" id="joining" style="font-size: 50px;">How do I join one?</h1>
    <div class="info-box">
        <p>Uh, probably message the team owner. You might also have to contact a <a href="{{ url_for('test_1f1t_contributors') }}#moderators">moderator</a>. This process will probably be streamlined in the future through this website (it is all running on Flask so it's easy to add dynamic features like that).</p>
    </div>
    <p class="centered"><img src="{{ url_for('static', filename='1f1t/images/divider.png') }}" class="divider"></p>
    <h1 class="mt-5 centered" id="creating" style="font-size: 50px;">How do I create one?</h1>
    <div class="info-box">
        <p>I'm not really sure. Probably just message a <a href="{{ url_for('test_1f1t_contributors') }}#moderators">moderator</a> or something.</p>
    </div>
    <br><br><br>
{% endblock content %}