
{% extends "1f1t_base.html" %}

{% block content %}
<div class="content">
    <h1 class="my-5 centered info-text">IP: 1f1n1ty.mcpro.io</h1>
    <p class="centered"><img src="{{ url_for('static', filename='1f1t/images/divider.png') }}" class="big-divider"></p>
    <h1 class="my-5 centered" style="font-size: 50px;">About the Server</h1>
    <div class="info-box">
        <p>Contrary to its name, 1f1t is a highly collaborative SMP with many active members. There are a few custom items and interactions to enhance the experience, without giving up that vanilla Minecraft feel.</p>
        <p id="transition">Members can choose to form groups with each other, creating alliances and working together to reach even higher goals. You can grind for obscure resources, build incredible structures, or engage in hand-to-hand combat.</p>
    </div>
    <p class="centered"><img src="{{ url_for('static', filename='1f1t/images/divider.png') }}" class="divider"></p>
    <h1 class="my-5 centered" style="font-size: 50px;">Custom Aspects</h1>
    <div class="info-box">
        <p>1f1t features a number of new items and interactions, including completely unbreakable materials and spawn/respawn charms that enable you to move quickly around the map.</p>
        <p>Keep inventory is enabled, which means that you don't have to worry about losing your items when you die.</p>
        <p><a href="{{ url_for('test_1f1t_ca') }}">Click here to learn more about the custom aspects.</a></p>
    </div>
    <p class="centered"><img src="{{ url_for('static', filename='1f1t/images/divider.png') }}" class="divider"></p>
    <h1 class="my-5 centered" style="font-size: 50px;">Join the Discord</h1>
    <div class="info-box">
        <p>There is also a Discord for you to chat with other members. You can share screenshots of your builds, discuss projects, or suggest new features to be implemented in the future.</p>
        <p><a href="https://discord.gg/jTDUG5FD7k">Click here to join.</a></p>
    </div>
    <p class="centered"><img src="{{ url_for('static', filename='1f1t/images/divider.png') }}" class="divider"></p>
    <h1 class="my-5 centered" style="font-size: 50px;">View the Map</h1>
    <div class="mb-5 info-box">
        <p>Featured on this website are isometric renders of the play area, allowing you to explore large ranges without hopping into the game.</p>
        <p><a href="{{ url_for('test_1f1t_map') }}">Click here to see it.</a></p>
    </div>
    <br><br><br>
</div>

<script>
    var transitionPoint = $("#transition").offset().top; //gets offset of header
    $(window).scroll(function(){
        if($(window).scrollTop() > transitionPoint){
           $(document.body).css({"background-image": "url('{{ url_for('static', filename='1f1t/images/background-night.png') }}')"});
        }
        else{
           $(document.body).css({"background-image": "url('{{ url_for('static', filename='1f1t/images/background-day.png') }}')"});
        }
    });
</script>
{% endblock content %}