{% extends "base.html" %} {% block content %}
<div class="centered">
    <h1>About Me</h1>
    <br />
    <hr />
    <br />
    <h2>Who am I?</h2>
    <p>
        I am currently getting my Masters in Computer Science at California
        Polytechnic State University. I enjoy a lot of things, from coding to
        writing music to 3D design. I'm also the president of Cal Poly Game
        Development Club!
    </p>
    <br />
    <h2>How can I contact you?</h2>
    <p>
        The best ways to contact me are through Discord (emuman) or by email
        (jacob.kelleran@outlook.com).
    </p>
    <br />
    <h2>Where else can I find you?</h2>
    <p>All of my socials are displayed as links down below!</p>
</div>
{% endblock content %}
