
{% extends "base.html" %}

{% block content %}
<div class="centered">
    <h1>About Me</h1>
    <br><hr><br>
    <h2>Who am I?</h2>
    <p>I am currently a 4th year studying at California Polytechnic State University, going for a blended B.S. + M.S. in Computer Science. I enjoy a lot of things, from coding to writing music to 3D design. I'm also on the board for both our school's Overwatch and Esports clubs, and I've recently been appointed as the President of Game Development Club!</p>
    <br>
    <h2>How can I contact you?</h2>
    <p>The best ways to contact me are through Discord (emuman) or by email (jacob.kelleran@outlook.com).</p>
    <br>
    <h2>Where else can I find you?</h2>
    <p>All of my socials are displayed as links down below!</p>
</div>
{% endblock content %}
