{% extends "base.html" %}

{% block content %}
<h1>My Art</h1>
<p>I'm no artist, but here's some stuff I've created anyways if you'd like to have a look around.</p>

<br><hr><br>
{% for a in art %}
<div class="gallery-responsive">
    <div class="gallery-entry">
        <a target="_blank" href="{{ url_for('static', filename='art/'+a.file) }}">
            <img class="gallery-img" src="{{ url_for('static', filename='art/'+a.file) }}">
        </a>
        <div class="gallery-desc">
            <p>{{ a.description }}</p>
        </div>
    </div>
</div>
{% endfor %}

<div class="clearfix"></div>
{% endblock content %}
