<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Hello, EmuMan here. On this website, you can find out about all of the stuff I do, such as programming, writing music, and more!">

    {% if title %}
        <meta property="og:title" content="EmuMan - {{ title }}">
    {% else %}
        <meta property="og:title" content="EmuMan's Website">
    {% endif %}
    <meta property="og:type" content="website">
    {% if not error %}
    <meta property="og:url" content="https://emuman.net{{ url_for(request.endpoint) }}">
    {% endif %}
    <meta property="og:image" content="https://emuman.net{{ url_for('static', filename='images/emu.png') }}">
    <meta property="og:description" content="Hello, EmuMan here. On this website, you can find out about all of the stuff I do, such as programming, writing music, and more!">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    
    {% block headcontent %}{% endblock headcontent %}

    {% if title %}
        <title>EmuMan - {{ title }}</title>
    {% else %}
        <title>EmuMan</title>
    {% endif %}

    <!-- IconifyIcon web component -->
    <script src="https://code.iconify.design/iconify-icon/1.0.2/iconify-icon.min.js"></script>
</head>
<body>
    <div class="background">
        
    </div>

    <div class="typed-container header">
        <p class="typed">EmuMan</p>
    </div>

    {% if reveal %} <div class="delay-reveal"> {% endif %}
        <div class="topnav">
            <a href="/">Home</a>
            <a href="/programming">Programming</a>
            <a href="/games">Games</a>
            <a href="/music">Music</a>
            <a href="/about">About</a>
        </div>

        <div class="container">
            <div class="content container">
            {% block content %}{% endblock %}
            </div>
            <div class="container">
                <hr>
                <div class="socials">
                    <a href="https://github.com/EmuMan"><iconify-icon icon="mdi:github"></iconify-icon></a>
                    <a href="https://discord.gg/avRCpqX"><iconify-icon icon="ic:baseline-discord"></iconify-icon></a>
                    <a href="https://www.youtube.com/@EmuManMusic"><iconify-icon icon="mdi:youtube"></iconify-icon></a>
                    <a href="https://www.twitch.tv/EmuManTV"><iconify-icon icon="mdi:twitch"></iconify-icon></a>
                    <a href="https://soundcloud.com/emuman-809930856"><iconify-icon icon="ri:soundcloud-fill"></iconify-icon></a>
                </div>
            </div>
        </div>
    {% if reveal %} </div> {% endif %}
</body>
</html>
