<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="EmuMan - {{ title }}">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fake_grubhub/css/style.css') }}">

	<script src="{{ url_for('static', filename='fake_grubhub/js/time.js') }}"></script>


    {% if title %}
        <title>EmuMan - {{ title }}</title>
    {% else %}
        <title>EmuMan</title>
    {% endif %}
</head>
<body>

    <img src="{{ url_for('static', filename='fake_grubhub/images/tBf.webp') }}" alt="GrubHub Banner" class="banner">

    <div class="top-bar">
        <img src="{{ url_for('static', filename='fake_grubhub/images/22q.png') }}" alt="Close button" class="close-button">
        <p class="top-bar-text">Your Order</p>
    </div>

    <div class="order-info">
        <p class="centered restaurant">{{ restaurant }}</p>
        <p class="centered order">Order #{{ order }}</p>
    </div>

    <div class="container">
        <p class="normal-text black-body-text medium-spaced-text">Estimated pickup time</p>
        <p class="bold-text black-body-text medium-spaced-text"><span id="time"></span> | Order is ready</p>
        <img src="{{ url_for('static', filename='fake_grubhub/images/progress_bar.png') }}" alt="Progress bar" class="progress-bar">
        <p class="normal-text black-body-text split-line large-spaced-text">Campus pickup at<span class="purple-body-text right-text">Get directions</span></p>
        <p class="bold-text black-body-text large-spaced-text">1 Grand Avenue BLDG 112</p>
        <input type="button" class="details-button medium-text purple-body-text" value="View order details">
        <p class="normal-text purple-body-text medium-spaced-text centered">Need help with your order?</p>
    </div>

</body>
</html>
