{% extends "base.html" %}

{% block content %}

<p>Hello Roark, as well as whoever else may be reading this page!</p>
<p>I am EmuMan, and you may remember me as the one who developed the trial editor and multiplayer mods.</p>
<p>This is an in-progress website that I made both as a way to explore web development and to showcase some of the stuff I have done over the years. Although it is not completely comprehensive, I hope that it will offer a general idea of some of the stuff that I do.</p>
<p>Among the more notable projects that are not listed on the website are, of course, the mods for RAoT that I have made. After watching Attack on Titan in early April, I discovered the game out of my own curiosity. Wanting to help with its development but realizing that applications had been closed, I decided to start writing mods for the game. Here are short showcases for some of the mods that I have made:</p>
<ul>
    <li><a href="https://youtu.be/BpNSoVsiPlQ" target="_blank">Custom Trials</a></li>
    <li><a href="https://youtu.be/EnHwHoHabUU" target="_blank">Multiplayer (Unfinished)</a></li>
    <li><a href="https://youtu.be/X5IYTNlMKzY" target="_blank">Titan Shifting</a></li>
</ul>
<p>After the new version of the game came out, I messed around with modding it. Since it was compiled using IL2CPP, this provided a whole new set of interesting challenges for me. I ended up writing a DLL that could be injected to allow for the speed cap to be removed and the camera to be shifted to first-person, but unfortunately I soon lost motivation after that and decided to move on to other things. I came back a little later to mod in the titan transformations, but I never really finished the multiplayer mod, although I have recently returned to it to rework the networking system I had in place. I also experimented with writing a <a href="https://emuman.net/raot" target="_blank">website</a> for the game, but I never really saw that through either, although I'd be happy to pick it up again if it is something that people think would be useful.</p>
<p>In regards to my experience with actual game development in Unity, I don't really have much. Most of it has been simulation work for my robotics team, and the majority of my knowledge of Unity (and C# in general) actually comes from my time modding RAoTFG.</p>
<p>There is one other project I am working on right now, which is a Minecraft server that you can find at the top of the <a href="{{ url_for('miscprogramming') }}" target="_blank">Misc Programming</a> page. My current work there revolves mostly around writing a new version of the website with fully-featured login, forum, and admin control systems, as well as better overall design. However, my efforts are not incredibly time-consuming, and I am confident that I can find the time to work consistently on both projects.</p>
<p>I encourage you to take a look at some of the stuff I have on this website if you are interested. It would be great to have a chance to work for the team.</p>
<br>
<p>Thank you for reading!</p>

{% endblock content %}