{% extends "base.html" %}

{% block content %}
<h1>Welcome!</h1>
<p>This is my website, in which you will find various content related to me, including different projects, applications, and art. Feel free to dig around!</p>
<p>It is very much a work in progress, so nothing is complete. This is really just a base to add stuff later.</p>
<br><hr><br>
<h1>FAQ (not really):</h1>
<h2>Why does this website look so bad?</h2>
<p>I'm not a graphic designer. Don't expect much in that regard.</p>
{% endblock content %}