{% extends "base.html" %}

{% block content %}
<h1>Miscellaneous Programming</h1>
<p>Apart from more organized lines of work, I have a bunch of side projects that I like to mess around with. You can find some of the more practical ones here.</p>

<br><hr><br>

{% for app in applications %}
    <div class="mx-3">
        <h2>{{ app.name }}</h2>
        {% for description in app.descriptions %}
            <p>{{ description | safe }}</p>
        {% endfor %}
    </div>
    <br><hr><br>
{% endfor %}
{% endblock content %}