{% extends "raot_base.html" %}

{% block content %}
    <h1 class="py-5 content-title">Race Leaderboards</h1>
    <div class="px-5">
        <div class="generic-navbar" style="font-size: 20px;">
            <a href="{{ url_for('test_raot_leaderboards') }}?map=cube" {% if map == "cube" %}class="active"{% endif %}>Cube</a>
            <a href="{{ url_for('test_raot_leaderboards') }}?map=spin" {% if map == "spin" %}class="active"{% endif %}>Spin</a>
            <a href="{{ url_for('test_raot_leaderboards') }}?map=cave" {% if map == "cave" %}class="active"{% endif %}>Cave</a>
        </div>

        <br>

        <table class="leaderboard-table">
            <thead>
                <th>Rank</th>
                <th>Player</th>
                <th>Distance</th>
                <th>Date</th>
            </thead>
            <tbody>
                {% for e in entries %}
                <tr class="leaderboard-entry">
                    <td>{{ e.rank }}</td>
                    <td>{{ e.player }}</td>
                    <td>{{ e.distance }}</td>
                    <td>{{ e.date }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <br><br>
    </div>
{% endblock content %}