{% extends "base.html" %}

{% block headcontent %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/music.css') }}">

<script
    src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/music.js') }}"></script>
{% endblock headcontent %}

{% block content %}
<h1>Songtober 2020</h1>

<br><hr><br>

<h2>What is Songtober?</h2>
<p>Songtober is a sort of challenge based off of the popular informal drawing event, Inktober. In the case of Inktober, for every day of October, there is a new prompt that should be drawn by whoever is participating. You can read more about it <a href="https://inktober.com/">here</a>. When one of my friends shared the 2020 prompt list, since I can't draw, I had the idea to do the challenge but with music instead of drawing. And thus Songtober was born.</p>
<p>Just as a side note, I am sure I am not the first to come up with this idea, but I have also never really seen anyone else do it, so for me it's a new concept. Enjoy my musical interpretations of these prompts.</p>
<p><b>NOTE:</b> Wearing headphones or using external speakers (not your phone or laptop's built-in speakers) will make your listening experience much better. I promise.</p>      

<br><hr><br><br>

<div class="container scrolling-table">
    <table id="song-table">
        <thead>
            <th style="width: 10%; text-align: center;">Day</th>
            <th>Title</th>
            <th>Duration</th>
        </thead>
        <tbody>
            {% for s in songs %}
            <tr class="song-entry" id="{{ s.id }}">
                <td class="song-index" style="text-align: center;">{{ s.index }}</td>
                <td class="song-title">{{ s.title }}</td>
                <td class="song-duration">--:--</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<br><br>
<div class="music-location" id="songtober_2020"></div>
<div id="player">
    <p>- Now playing -</p>
    <p id="nowplaying"></p>
    <p>
        <input type="range" id="seek" value="0" max="">
        <span id="time">--:--</span> / <span id="duration">--:--</span>
    </p>
    <div class="buttons">
        <div></div>
        <div class="song-navigation">
            <button id="prev"><img src="{{ url_for('static', filename='images/prev.png') }}"></button>
            <button id="play"><img id="play-button" src="{{ url_for('static', filename='images/play.png') }}"></button>
            <button id="next"><img src="{{ url_for('static', filename='images/next.png') }}"></button>
        </div>
        <div class="vol-control">
            <button id="mute"><img id="speaker-button" src="{{ url_for('static', filename='images/speaker.png') }}"></button>
            <input type="range" id="volume" value="80" max="100">
        </div>
    </div>
</div>
<br>
<div id="descriptions">
    {% for s in songs %}
        <p id="{{ s.id }}-description">{{ s.description | safe }}</p>
    {% endfor %}
</div>
<br>
{% endblock content %}
