body {
	background-color: black;
	background: url('/static/raot/images/menu-background-4k.png') no-repeat center center fixed;
	opacity: 1.0;
	
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

a {
    color: #eeeeee;
    text-decoration: underline;
}

a:hover {
    color: #bbbbbb;
}

.no-underline {
    text-decoration: none;
}

.content {
    background: rgba(0, 0, 0, 0.7);
    text-align: center;
    color: #eeeeee;
    width: 80%;
}

.centered {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.generic-navbar {
    overflow: hidden;
    background: rgba(0, 0, 0, 0.8);
    width: 80%;
}

.generic-navbar a {
    float: left;
    display: block;
    text-align: center;
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
}

#main-navbar {
    font-size: 30px;
}

.sticky {
    position: fixed;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
}

.solo {
    padding-top: 80px;
}

.navbar-logo {
    height: 45px;
}

.active {
    background: rgba(42, 42, 42, 0.9);
}

.leaderboard-table {
    width: 100%;
    font-size: 20px;
}

th, td {
    padding: 5px;
    border-bottom: 1px solid #eeeeee;
}

.content-title {
    font-size: 60px;
    font-weight: bold;
}
