@font-face {
    font-family: ScandiaGH;
    /* src: url("http://127.0.0.1:5000/static/fake_grubhub/fonts/0B7.ttf"); */
    src: url("https://emuman.net/static/fake_grubhub/fonts/0B7.ttf");
}

@font-face {
    font-family: ScandiaGH-Medium;
    /* src: url("http://127.0.0.1:5000/static/fake_grubhub/fonts/luI.ttf"); */
    src: url("https://emuman.net/static/fake_grubhub/fonts/luI.ttf");
}

@font-face {
    font-family: ScandiaGH-Bold;
    /* src: url("http://127.0.0.1:5000/static/fake_grubhub/fonts/G3o.ttf"); */
    src: url("https://emuman.net/static/fake_grubhub/fonts/G3o.ttf");
}

:root {
    --clr-neutral-000: #000000;
    --clr-neutral-900: #ffffff;
    --clr-accent-200: #afa6d4;
    --clr-accent-500: #4a25e6;
}

/* no clue what this does */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
p {
    margin: 0;
}

body {
    background-color: var(--clr-neutral-900);
    padding-bottom: 500px;
}

.top-bar {
    width: 100%;
    height: 4rem;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    display: inline-flex;
    background-color: var(--clr-neutral-900);
    color: var(--clr-neutral-900);
}

.top-bar-text {
    font-family: ScandiaGH-Bold;
    font-size: 1.3rem;
    padding: 1.35rem;
    padding-left: 2.5rem;
    color: var(--clr-neutral-000);
    vertical-align: middle;
}

img.close-button {
    height: 75%;
    aspect-ratio: 1;
    margin: 0.5rem;
}

img.banner {
    width: 100%;
    padding-top: 1rem;
}

img.progress-bar {
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 4rem;
}

.order-info {
    position: absolute;
    width: 100%;
    top: 7rem;
    height: 10rem;
    color: var(--clr-neutral-900);
    font-family: ScandiaGH-Bold;
}

.order-info .restaurant {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}

.order-info .order {
    font-size: 1.3rem;
}

.details-button {
    width: 100%;
    height: 3rem;
    border-radius: 1.5rem;
    border: 1px solid var(--clr-accent-200);
    background-color: var(--clr-neutral-900);
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.container {
    padding: 1rem;
    padding-top: 1.2rem;
}

.centered {
    text-align: center;
}

.normal-text {
    font-family: ScandiaGH;
}

.medium-text {
    font-family: ScandiaGH-Medium;
}

.bold-text {
    font-family: ScandiaGH-Bold;
}

.black-body-text {
    font-size: 1rem;
    color: var(--clr-neutral-000);
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}

.purple-body-text {
    font-size: 1rem;
    color: var(--clr-accent-500);
}

.medium-spaced-text {
    padding-top: 0.15rem;
    padding-bottom: 0.15rem;
}

.large-spaced-text {
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}

.split-line {
    display: block;
}

.split-line span {
    display: block;
    float: right;
}