a.nounderline {
    text-decoration: none;
}

body {
    /* font-family: 'Courier New', Courier, monospace; */
    font-family: Arial, Helvetica, sans-serif;
    background-color: #272c30;
    color: white;
}
  
a {
    color: white;
}

#page-title {
    text-align: center;
    font-size: 70px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

/* ------------------------------ */

.bot-header {
    display: table;
}

.bot-name {
    padding-left: 15px;
    font-size: 28px;
    display: table-cell;
    vertical-align: middle;
}

.prefix {
    font-size: 13px;
    font-style: italic;
    padding-top: 5px;
}

img.pfp {
    border-radius: 50%;
    width: 48px;
    height: 48px;
    float: left;
}

a.inline-link {
    text-decoration: underline;
}

a.inline-link:hover {
    color: lightslategray;
}

.content {
padding: 30px 35px;
background-color: #1f1f1f;
}

.topnav a {
    font-size: 25px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

hr {
    display: block; height: 1px;
    border: 0; border-top: 1px solid #ccc;
    margin: 1em 0; padding: 0;
}

/* ----------------------- */

table {
    border-collapse: collapse;
    height: 100%;
    width: 100%;
}

table, th, td {
    border: 1px solid whitesmoke;
}

th, td {
    padding: 15px;
    text-align: left;
}

th {
    background-color: #2c2e30;
    font-weight: bold;
}

tr {
    background-color: #34383a;
}

tr:nth-child(even) {
    background-color: #3d4144;
}